# Python first class

this is python first class

In [1]:
print("Hello, World!")

Hello, World!

In [5]:
print(234)

234

In [6]:
print(23.5)

23.5

In [11]:
print("Hello, World!")

Hello, World!

In [13]:
print() #shift+tab

In [19]:
print(123,3.2,'Hello',False, sep ='==')

123==3.2==Hello==False

In [15]:
print(True)

True

In [20]:
print('hello worlld')
print('hello python')
print('hello PIAIC')

hello worlld
hello python
hello PIAIC

In [28]:
print('hello world', end ='\t')
print('hello python', end ='\t\t')
print('hello PIAIC')

hello world	hello python		hello PIAIC

Math expression:Familiar operators

In [3]:
10 % 3

1

In [4]:
a =10
a+5

15

In [5]:
a

10

In [6]:
a=a+5
a

15

In [7]:
a+=5
a

20

In [8]:
a-=5
a

15

In [9]:
a*=5
a

75

In [10]:
a/=5
a

15.0

In [11]:
a=2
b=2
a==b

True

In [12]:
a!=b

False

In [13]:
a>b

False

In [14]:
a<=b

True

In [15]:
a>=b

True

# Math expressions: Eliminating ambiguity

In [16]:
10 ** 2

100

In [17]:
10 *3**2+(12*3)/2

108.0

In [18]:
2 / 4 - 3*9+2

-24.5

# IF statements

In [23]:
x =int(input('first number: '))
y =int(input('second number: '))

if x + y > 10:
    print("sum is greater than 10")
else:
    print("wrong input")

first number: 2
second number: 3
wrong input

In [28]:
a =int(input('first number: '))

if a % 2 == 0:
    print("even number")
else:
    print('odd number')

first number: 4
even number

In [33]:
nic =input("NIC mojood hai? ").lower()

if nic == 'yes':
    print('Ander jao bhai')
    voter = input('voter list mein name hai? ').lower()
    if voter =='yes':
        print('cast your vote')
    else:
        print('dosra center dekhain')
else:
    print('NIC laker aayen')

NIC mojood hai? no
NIC laker aayen

In [34]:
x = 'pakistan'
x.upper()

'PAKISTAN'

In [2]:
age =int(input('age kia hai?'))

if age > 18:
    print('ander jao')
    person = input('ticket hai?')
    if person =='yes':
        print('enjoy movie')
    else:
        print('ticket laker ao')
else:
    print('bara  hoja pahle ')

age kia hai?20
ander jao
ticket hai?yes
enjoy movie

In [3]:
a = int(input('first number:'))
b = int(input('second number:'))

if a+b<0:
    print('input are valid')
elif a+b==10:
    print('input are valid')
elif a+b>100:
    print('input are valid')
else:
    print('input are not valid')

first number:5
second number:5
input are valid

# Logical 'AND' Logical 'OR' Operators

In [ ]:
nic =input("NIC mojood hai? ").lower()
voter = input('voter list mein name hai? ').lower()

if nic == 'yes' and voter == 'yes':
    print('cast your vote')
else:
    print('dosra center dekhain')

NIC mojood hai? no

# List

there  is no aray in python instead we use list

In [8]:
students= ['ali','hamza','hasan']

# List into list

In [9]:
list1=[1,2,3,4,5,['apple','orange','mango'],students]#index 0 1 2 3  4

In [10]:
list1[5]

['apple', 'orange', 'mango']

In [11]:
list1

[1, 2, 3, 4, 5, ['apple', 'orange', 'mango'], ['ali', 'hamza', 'hasan']]

In [12]:
list1[5][2]

'mango'

In [13]:
4  in list1

True

In [14]:
'mango' in list1[5]

True

# Slicing

In [16]:
list2=['a','c','d','e','f']
#index  0   1   2   3   4
list2

['a', 'c', 'd', 'e', 'f']

In [27]:
s=list2[2:]
#       includ:exclude

In [28]:
s

['d', 'e', 'f']

In [30]:
s=list2[:3]
s

['a', 'c', 'd']

In [31]:
s=list2[:]
s

['a', 'c', 'd', 'e', 'f']

# Negative indexing

In [37]:
list3=['apple','oranges','bananas','grapes','melon','peach','watermelon']
#index   -7      -6         -5       -4       -3      -2       -1

In [39]:
list3[-4]

'grapes'

In [40]:
s=list3[-5:]
s

['bananas', 'grapes', 'melon', 'peach', 'watermelon']

In [41]:
s=list3[-5:4]
s

['bananas', 'grapes']

In [42]:
s=list3[:]
s

['apple', 'oranges', 'bananas', 'grapes', 'melon', 'peach', 'watermelon']

In [44]:
s=list3[-5:5]
s

['bananas', 'grapes', 'melon']

# popping

pop ka command by defalut last value uthata hy

In [46]:
list4=['asad','hamza','ali']
a=list4.pop()
print(list4)
a

['asad', 'hamza']

'ali'

In [48]:
list5=['saad','hamza','ali','asad','ali']

In [49]:
poppedlist=[]

In [51]:
poppedvalue=list5.pop()
poppedlist.append(poppedvalue)

In [54]:
print(list5)
poppedlist

['saad', 'hamza', 'ali']

['asad']

# Tupple

In [1]:
myTupple =(12,13,14,'SUBHAN','AHMED')

In [2]:
myTupple[3]

'SUBHAN'

In [7]:
city=('karachi','lahore','islamabad','multan','karachi','lahore')

In [8]:
city

('karachi', 'lahore', 'islamabad', 'multan', 'karachi', 'lahore')

In [9]:
city.count('lahore')

2

In [10]:
city.index('karachi',3)#.index start with 0

4

# For Loop

In [13]:
for i   in  range(10):
    print(i,'hello pakistan')

0 hello pakistan
1 hello pakistan
2 hello pakistan
3 hello pakistan
4 hello pakistan
5 hello pakistan
6 hello pakistan
7 hello pakistan
8 hello pakistan
9 hello pakistan

In [17]:
for i in range(10):
    print(i,end =' ')

0 1 2 3 4 5 6 7 8 9

In [18]:
for i in range(1,10):
    print(i,end =' ')

1 2 3 4 5 6 7 8 9

In [19]:
for i in range(0,20,2):#range(start ,end,step)
    print(i,end =' ')

0 2 4 6 8 10 12 14 16 18

In [20]:
for i in range(20,0,-1):
    print(i,end =' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [22]:
for num in[22,23,24,25,26,27,28]:
    print(f'the number in list is {num}')

the number in list is 22
the number in list is 23
the number in list is 24
the number in list is 25
the number in list is 26
the number in list is 27
the number in list is 28

In [24]:
students=['subhan','ahmed','ali','yasir','arsal','jiya','mithu','mena','shaheryar','kinza']
for names in students:
    print(names)

subhan
ahmed
ali
yasir
arsal
jiya
mithu
mena
shaheryar
kinza

In [31]:
for character in 'pakistan':
    print(character,end ="")

pakistan

In [35]:
for a in range(1,10):
    if a==4:
        continue
    print(a)

1
2
3
5
6
7
8
9

In [40]:
for x in range(1,10):
    if x==4:
        break
    print(x)

1
2
3

In [65]:
students=['subhan','ahmed','ali','yasir','arsal','jiya','mithu','mena','shaheryar','kinza']
for friend in students:
    if friend!='arsal':
        print(f'welcome to the party {friend}')
    else:
        print(f'party is over{friend}')
        break

welcome to the party subhan
welcome to the party ahmed
welcome to the party ali
welcome to the party yasir
party is overarsal

In [69]:
students=['subhan','ahmed','ali','yasir','arsal','jiya','mithu','mena','shaheryar','kinza']
for friend in students:
    if friend!='ali':
        print(f'welcome to the party {friend}')
    else:
        print(f'party is over {friend}')
        continue

welcome to the party subhan
welcome to the party ahmed
welcome to the party ali
welcome to the party yasir
welcome to the party arsal
welcome to the party jiya
welcome to the party mithu
welcome to the party mena
welcome to the party shaheryar
welcome to the party kinza

# Nested for  loops

In [71]:
fNames =['nasir','asad','kamran']
lNames =['hussain','amin','fazal']
for fName in fNames:
    for lName  in lNames:
        print(fName,lName)

nasir hussain
nasir amin
nasir fazal
asad hussain
asad amin
asad fazal
kamran hussain
kamran amin
kamran fazal

In [85]:
table =int(input('enter table number: '))
for a in range(1, 11):
   print(f'{table} * {a} = {table*a}')

enter table number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [88]:
for tables in range(2,7):
    print('##########')
    for num in range(1,11):
        print(f'{tables} * {num} = {tables*num}')

##########
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
##########
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
##########
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
##########
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
##########
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# Dictionaries

In [89]:
dic ={'name':'subhan','age':21,'gender':'male'}#{key:value}

In [90]:
dic

{'name': 'subhan', 'age': 21, 'gender': 'male'}

In [94]:
dic['name']

'subhan'

In [95]:
dic['age']

21

In [96]:
dic['gender']

'male'

In [1]:
dic ={'name':'subhan','age':21,'gender':'male','qua':'ABCD'}

In [2]:
for key in dic.keys():
    print(key)

name
age
gender
qua

In [3]:
for val in dic.values():
    print(val)

subhan
21
male
ABCD

In [4]:
for k,v in dic.items():
    print(k,v)

name subhan
age 21
gender male
qua ABCD

In [10]:
dic['address']='north nazimabad'

In [11]:
dic

{'name': 'subhan',
 'age': 21,
 'gender': 'male',
 'qua': 'ABCD',
 'address': 'north nazimabad'}

In [12]:
eklist =[{'a':'karachi','b':'lahore'},{1:1111,2:2222},dic]

In [13]:
eklist

[{'a': 'karachi', 'b': 'lahore'},
 {1: 1111, 2: 2222},
 {'name': 'subhan',
  'age': 21,
  'gender': 'male',
  'qua': 'ABCD',
  'address': 'north nazimabad'}]

In [14]:
len(eklist)

3

In [24]:
eklist[2]['qua']

'ABCD'

In [3]:
del eklist[2]['qua']
eklist

NameError: name 'eklist' is not defined

# Functions

In [4]:
def cal():#function define
    print('hello PIAIC')

In [5]:
cal()#function calling

hello PIAIC

In [6]:
def abc():
    print('a')
    print('b')
    print('c')

In [7]:
abc()

a
b
c

In [1]:
def sum()

SyntaxError: invalid syntax (<ipython-input-1-6d7c5532fe33>, line 1)